<!DOCTYPE HTML>
<html>

    <head>
      <title>{% block title %}{% endblock %}</title>
      <meta name="description" content="website description" />
      <meta name="keywords" content="website keywords, website keywords" />
      <meta http-equiv="content-type" content="text/html; charset=utf-8" />
      {% block style %}{% endblock %}
    </head>

    <body>
        <div id="main">
            <div id="header">
              <div id="logo">
                <div id="logo_text">
                  <h1><a href="#">Gubanov<span class="logo_colour">_Maxim</span></a></h1>
                  <h2>Архитектура и шаблоны проектирования на Python</h2>
                </div>
              </div>
                {% include "inc-menu.html" %}
            </div>
            <div id="site_content">
                {% block body %}{% endblock %}
            </div>
                {% include "inc-footer.html" %}
        </div>
    </body>

</html>