<!DOCTYPE HTML>
<html>

<head>
  <title>WSGI Framework</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="style/style.css" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <h1><a href="#">Gubanov<span class="logo_colour">_Maxim</span></a></h1>
          <h2>Архитектура и шаблоны проектирования на Python</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <li class="selected"><a href="/">Главная</a></li>
          <li><a href="/about/">Обо мне</a></li>
          <li><a href="/contact/">Контакты</a></li>
        </ul>
      </div>
    </div>
    <div id="site_content">
      <div class="sidebar">
        <h1>Поиск</h1>
        <form method="post" action="#" id="search_form">
          <p>
            <input class="search" type="text" name="search_field" value="Enter keywords....." />
            <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="style/search.png" alt="Search" title="Search" />
          </p>
        </form>
      </div>
      <div id="content">
        <h1>Главная</h1>
        <h2>{{ date }}</h2>
         <p>Этот курс ориентирован в большей степени в сторону веб-разработки, т.к. это одно из наиболее перспективных направлений в области программирования и конечно это та область, где успешно применяется Python для разработки бэкенда приложений. Цель курса заключается в освоении паттернов, т.е. некоторых шаблонов (подходов) реализации программных продуктов, а также в изучении возможностей их применения на примере своего проекта.</p>
      </div>
    </div>

    <div id="footer">
      <p><a href="/">Главная</a> | <a href="/about/">Обо мне</a> | <a href="/contact/">Контакты</a></p>
      <p>Copyright &copy; night_sky | <a href="http://validator.w3.org/check?uri=referer">HTML5</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | <a href="http://www.html5webtemplates.co.uk">design from HTML5webtemplates.co.uk</a></p>
    </div>

  </div>
</body>
</html>